<!-- <div class="form__group" >
  <div class="form__group-field">
    <label for="university"  >Университет</label>
    <ng-select (change)="getFaculty($event)"  [clearable]="false" [items]="university" bindLabel="university_name" name="university"
      [searchable]="false" bindValue="university_id" placeholder="Университет" ></ng-select>
  </div>

  <div class="form__group-field">
    <label for="institute">Факультет</label>
    <ng-select (change)="getCathedra($event)" [clearable]="false" [items]="faculty" bindLabel="faculty_name" [(ngModel)]='facultyValue'
      name="faculty" [searchable]="false" bindValue="faculty_id" placeholder="Факультет"></ng-select>
  </div>

  <div class="form__group-field">
    <label for="institute">Кафедра</label>
    <ng-select (change)="getSpecialty($event)" [clearable]="false" [items]="cathedra" [(ngModel)]='cathedraValue' name="cathedra" bindLabel="cathedra_name" [searchable]="false" bindValue="cathedra_id" placeholder="Кафедра">
    </ng-select>
  </div>
</div>

<div class="form__group">
  <div class="form__group-field">
    <label for="institute">Специальность</label>
    <ng-select  (change)="getGroup($event)" [clearable]="false" [items]="specialty" [(ngModel)]='specialtyValue' name="specialty" bindLabel="specialty_name" [searchable]="false" bindValue="specialty_id" placeholder="Специальность">
    </ng-select>
  </div>

  <div class="form__group-field">
    <label for="institute">Группа</label>
    <ng-select [clearable]="false" [items]="group" [(ngModel)]='groupValue' name="group" bindLabel="group_name" [searchable]="false" bindValue="group_id" placeholder="Группа">
    </ng-select>
  </div>
</div> -->