<header>
  <img src="../../../../../assets/icons/unnamed.jpg" width="70">
  <div class="user">
    <span class="header__name">{{userName['user_first_name']}} {{userName['user_second_name']}}
      {{userName['user_middle_name']}}</span>
    <img src="../../../../../assets/icons/user.png" width="55">
  </div>
</header>


<div class="wrapper">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Пользователи</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
            <tr>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
              <th scope="col">Роли</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of listOfUsers" class="users__user user">
              <td> {{user.user_second_name}}</td>
              <td> {{user.user_first_name}}</td>
              <td> {{user.user_middle_name}}</td>
              <td>
                <div class="user__role role">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Роли</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let role of roles"
                        [ngClass]="{'role__current': role.id === user.role_name}" value={{role.id}}
                        (click)="updateRole(user.user_id,role.id)">
                        <div *ngIf="role.id === user.role_name ; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{role.name}}</ng-template>
                        <ng-template #elseBlock>{{role.name}}</ng-template>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Студенты</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
            <tr>
              <th scope="col">Студент</th>
              <th scope="col">Руководитель проекта</th>
              <th scope="col">Название проекта</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of listOfUsers" class="users__user user">
              <td> {{user.user_second_name}}</td>
              <td> {{user.user_first_name}}</td>
              <td> {{user.user_middle_name}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>